body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
} 

nav {
    display: flex;
    justify-content: space-between;
}

nav #icon {
    max-width: 30px;
    align-items: center;
    margin-left: 5px;
    margin-top: 5px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    list-style-type: none;
    padding: 0 .5em;
}

nav ul li a {
    text-decoration: none;
}

header {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: rgba(255,255,102)
}

img#photo{
    max-width: 100px;
    height: auto;
}

img#icon{
    max-width: 40px;
    height: auto;   
}

div.wrapper {
    background-color: rgba(33, 133, 33, 0.538);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

div.wrapper section {
    width: 95%;
    min-height: 300px;
    font-size: 15pt;
    max-width: 650px;
}

div.wrapper section div.content {
    padding-left: 10px;
    padding-top: 60px;
}

div.wrapper section div.content div.title h2{
    font-size: 30px;
    padding: 0;
    margin: 5px 5px auto;
    align-content: left;
}

div.wrapper section div.text p{
    font-size: 20px;
    margin: 5px 5px auto;
    padding-left: 10px; 
    font-family: 'Courier New', Courier, monospace;
}

div.wrapper section#about {
    background-color: rgba(137, 43, 226, 0.377);
}

div.wrapper section#experience {
    background-color: #b732cc6a;
}

div.wrapper section#education {
    background-color: #2998795b;
}

div.wrapper section#skills {
    background-color: #54338979;
}

div.wrapper section#interests {
    background-color: #45e0bc72; 
}

div.wrapper section#awards {
    
}

a:link {
    color: black;
}

a:visited {
    color: purple; 
}

a:hover {
    color: greenyellow;
}

footer {
    width: 100%;
    margin-top: auto;
    position: fixed;
    background-color: green;
    bottom: 0;
    padding: .5em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;   
}